<section class="catalog mb-3" id="catalog">
    <div class="container-fluid section-container">
        <div class="row">
            <div class="col">
                <h2 class="text-center catalog-title">Каталог</h2>
                <p class="text-center">Описание....</p>
            </div>
        </div>
        <div class="row">
            <div class="col12 col-lg-4">
                <div class="custom-card">
                    <div class="custom-card__title js-catalog-card__title">
                        Тестовый товар 1
                    </div>
                    <div class="custom-card__img">
                        <img src="/dist/img/catalog/1.jpg" alt="">
                    </div>
                    <div>
                        <div class="custom-card__desc">
                            Описание... test test  test test test test test test test test test test test test
                        </div>
                        <ul class="custom-card__list">
                            <li>Цвет: 123456</li>
                            <li>Размер: 123456</li>
                            <li>Материал: 123456</li>
                        </ul>
                        <div class="custom-card__order-price">
                            <p class="custom-card__order-price__old-price">2 999Р</p>
                            <p class="custom-card__order-price__new-price">999Р</p>
                        </div>
                        <a class="custom-card__btn js-catalog-card__btn-order" data-toggle="modal" data-target="#productFormModal">
                            Заказать
                        </a>
                    </div>

                </div>
            </div>
            <div class="col12 col-lg-4">
                <div class="custom-card">
                    <div class="custom-card__title js-catalog-card__title">
                        Тестовый товар 2
                    </div>
                    <div class="custom-card__img">
                        <img src="/dist/img/catalog/2.jpg" alt="">
                    </div>
                    <div>
                        <div class="custom-card__desc">
                            Описание... test test  test test test test test test test test test test test test
                        </div>
                        <ul class="custom-card__list">
                            <li>Цвет: 123456</li>
                            <li>Размер: 123456</li>
                            <li>Материал: 123456</li>
                        </ul>
                        <div class="custom-card__order-price">
                            <p class="custom-card__order-price__old-price">2 999Р</p>
                            <p class="custom-card__order-price__new-price">999Р</p>
                        </div>
                        <a class="custom-card__btn js-catalog-card__btn-order" data-toggle="modal" data-target="#productFormModal">
                            Заказать
                        </a>
                    </div>

                </div>
            </div>
            <div class="col12 col-lg-4">
                <div class="custom-card">
                    <div class="custom-card__title js-catalog-card__title">
                        Тестовый товар 3
                    </div>
                    <div class="custom-card__img">
                        <img src="/dist/img/catalog/3.jpg" alt="">
                    </div>
                    <div>
                        <div class="custom-card__desc">
                            Описание... test test  test test test test test test test test test test test test
                        </div>
                        <ul class="custom-card__list">
                            <li>Цвет: 123456</li>
                            <li>Размер: 123456</li>
                            <li>Материал: 123456</li>
                        </ul>
                        <div class="custom-card__order-price">
                            <p class="custom-card__order-price__old-price">2 999Р</p>
                            <p class="custom-card__order-price__new-price">999Р</p>
                        </div>
                        <a class="custom-card__btn js-catalog-card__btn-order" data-toggle="modal" data-target="#productFormModal">
                            Заказать
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>