<section class="catalog" id="catalog">
    <div class="container-fluid section-container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="catalog-1col-img">
                    <img src="http://via.placeholder.com/500x350" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="catalog-1col-desc">
                    <div class="catalog-1col__title js-catalog__title">
                        Тестовый товар 123 123 123 123 123 123 123
                    </div>
                    <div class="catalog-1col__order-price">
                        <p class="catalog-1col__order-price__new-price">1 999₽</p>
                        <p class="catalog-1col__order-price__old-price">2 999₽</p>
                    </div>
                    <button type="submit" class="btn btn-yellow w-100 js-catalog__btn-order" data-toggle="modal" data-target="#productFormModal">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</section>