<section class="center-form mb-3">
    <div class="container-fluid section-container">
        <div class="row">
            <div class="col-lg-7 col-12 center-form-img-col">
                <!--<div class="center-form__img">
                    <img src="/dist/img/center-form/1.png" alt="Тест">
                </div>
                <div class="center-form__desc">
                    Описание тут...
                </div>-->
                <a class="btn btn-yellow center-form__btn w-100" id="js-goToCatalogBtn" href="#catalog">Перейти в каталог</a>
            </div>
            <div class="col-lg-5 col-12 center-form-order-col">
                <div class="center-form__order">
                    <h1 class="center-form__order-title1">Заказать товар</h1>
                    <div class="center-form__order-price">
                        <p class="center-form__order-price__new-price">1 999Р</p>
                        <p class="center-form__order-price__old-price">2 999Р</p>
                    </div>
                    <h4 class="center-form__order-title2">Заполните форму чтобы оформить заказ</h4>
                    <p class="center-form__order-desc">После отправки заявки, мы перезвоним,
                    чтобы уточнить детали доставки</p>
                    <form method="POST" action="send.php">
                        <div class="form-group center-form__form-group">
                            <label>Введите ваше имя</label>
                            <input type="text" class="form-control" name="client" required>
                        </div>
                        <div class="form-group center-form__form-group">
                            <label>Введите ваш контактный телефон</label>
                            <input type="text" class="form-control" name="phone" required>
                        </div>
                        <button type="submit" class="btn btn-yellow btn-yellow-lg w-100">Оформить заказ</button>
                    </form>
                </div>
                <div class="mt-3">
                    <h1 class="text-center">Время ограничено!</h1>
                    <script src="//megatimer.ru/get/1a60a46795e7e2d961483e305d59ac5d.js"></script>
                </div>
            </div>
        </div>
    </div>
</section>