<section class="center-form pb-3 pt-3 mb-1">
    <div class="container-fluid section-container">
        <div class="row">
            <div class="col-lg-7 col-12">
                <div class="center-form-container-product pb-2">
                    <div class="center-form-container__title">
                        <div class="center-form__title">
                            Заголовок тут...
                        </div>
                        <div class="center-form__desc">
                            Описание тут...
                        </div>
                    </div>
                    <div>
                        <a class="btn btn-yellow center-form__btn w-100" id="js-goToCatalogBtn" href="#catalog">Перейти в каталог</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-12 center-form-order-col">
                <div class="center-form__order">
                    <h1 class="center-form__order-title1">Заказать товар</h1>
                    <div class="center-form__order-price">
                        <p class="center-form__order-price__new-price">1 999₽</p>
                        <p class="center-form__order-price__old-price">2 999₽</p>
                    </div>
                    <h4 class="center-form__order-title2">Заполните форму чтобы оформить заказ</h4>
                    <p class="center-form__order-desc">После отправки заявки, мы перезвоним,
                    чтобы уточнить детали доставки</p>
                    <form action="sendCall.php" method="POST"> <!-- action: (колл центр: https://platforma.fulfilment.biz/api/Order/Add; почта: send.php) --> 

                        <input type="hidden" name="PartnerId" value="1825"/> <!-- value: i пользователя -->
                        <input type="hidden" name="Products" value="5232;1;1890"/> <!--  value: id продукта;количество;цена -->
                        <input type="hidden" name="ProductUpsellPackageId" value="2363"/> <!--  value: id upsell -->
                        <input type="hidden" name="ProcessingType" value="3"/>
                        <input type="hidden" name="RedirectUrl" value="http://sbrpc.ru/sendCall.php"/> <!--  value: перенаправление на sendCall.php -->
                        <input type="hidden" name="TimeZone"/>

                        <div class="form-group center-form__form-group">
                            <label for="centerFormClient">Введите ваше имя</label>
                            <input type="text" class="form-control" name="Name" id="centerFormClient" required>
                        </div>
                        <div class="form-group center-form__form-group">
                            <label for="centerFormPhone">Введите ваш контактный телефон</label>
                            <input type="text" class="form-control" name="Phone" id="centerFormPhone" required>
                        </div>
                        <button type="submit" class="btn btn-yellow btn-yellow-lg w-100">Оформить заказ</button>
                        <div class="deadline__text">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            Количество товара ограничено, осталось 16 шт.
                        </div>
                    </form>

                </div>
                <div class="mt-3">
                    <h3 class="text-center">Время ограничено!</h3>
                    <script src="//megatimer.ru/get/1c38d50df2dd8f9f3208dadc39b37df7.js"></script>
                </div>
            </div>
        </div>
    </div>
</section>