<section class="certificates">
    <div class="container-fluid certificates-container">
        <div class="row">
            <div class="col-12">
                <h3 class="text-center mt-3 mb-3">Мы торгуем только оригинальной и сертифицированной продукцией</h3>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12 col-md-6">
                <div class="certificates-img-responsive">
                    <img src="/dist/img/certificates/1.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="certificates-img-responsive">
                    <img src="/dist/img/certificates/2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>