<section class="characteristics-form">
    <div class="container-fluid section-container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="characteristics-form-img">
                    <img src="/dist/img/characteristics-form/1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div>
                    <div class="characteristics-form__title">
                        Заголовок тут...
                    </div>
                    <div class="characteristics-form__desc">
                        Описание тут...
                    </div>
                    <div class="characteristics-form__advantages-list">
                        <div class="characteristics-form__advantages-list__item">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Пункт 1
                        </div>
                        <div class="characteristics-form__advantages-list__item">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Пункт 2
                        </div>
                        <div class="characteristics-form__advantages-list__item">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Пункт 3
                        </div>
                        <div class="characteristics-form__advantages-list__item">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Пункт 4
                        </div>
                        <div class="characteristics-form__advantages-list__item">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            Пункт 5
                        </div>

                        <button type="submit" class="btn btn-yellow js-characteristics__btn-order w-100" data-toggle="modal" data-target="#productFormModal">Заказать</button>

                        <div class="deadline__text">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            Количество товара ограничено, осталось 16 шт.
                        </div>

                        <div class="mt-3" style="border-top: 1px solid #c0c0c0">
                            <h3 class="text-center">Время ограничено!</h3>
                            <script src="//megatimer.ru/get/1c38d50df2dd8f9f3208dadc39b37df7.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>