<section class="contact-form">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="contact-form__contact">
                    <div class="contact-form__contact-list">
                        <!--<li class="contact-form__contact-list__item">
                            <a href="/">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                +7 999 999 999
                            </a>
                        </li>-->
                        <div class="contact-form__contact-list__item">
                            <a href="/">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                test@mail.ru
                            </a>
                        </div>
                        <div class="contact-form__contact-list__item">
                            &copy 2019-2020 landing-template
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>