<section class="faq mb-3">
    <div class="container-fluid section-container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Часто задаваемые вопросы</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="faq-list">
                    <div class="faq-list__item">
                        <div class="faq-list__item-header js-faq-list__item-header">
                            <p class="faq-list__item-title">Как осуществляется доставка?</p>
                        </div>
                        <div class="faq-list__item-body js-faq-list__item-body">
                            <p class="faq-list__item-answer">Доставка по&nbsp;всей России курьером или через пункты самовывоза. Доставка в&nbsp;Москве и&nbsp;СПб на&nbsp;следующий день. Доставка в&nbsp;регионы 2–5 дней.</p>
                        </div>
                    </div>

                    <div class="faq-list__item">
                        <div class="faq-list__item-header js-faq-list__item-header">
                            <p class="faq-list__item-title">Как осуществляется доставка?</p>
                        </div>
                        <div class="faq-list__item-body js-faq-list__item-body">
                            <p class="faq-list__item-answer">Доставка по&nbsp;всей России курьером или через пункты самовывоза. Доставка в&nbsp;Москве и&nbsp;СПб на&nbsp;следующий день. Доставка в&nbsp;регионы 2–5 дней.</p>
                        </div>
                    </div>

                    <div class="faq-list__item">
                        <div class="faq-list__item-header js-faq-list__item-header">
                            <p class="faq-list__item-title">Как осуществляется доставка?</p>
                        </div>
                        <div class="faq-list__item-body js-faq-list__item-body">
                            <p class="faq-list__item-answer">Доставка по&nbsp;всей России курьером или через пункты самовывоза. Доставка в&nbsp;Москве и&nbsp;СПб на&nbsp;следующий день. Доставка в&nbsp;регионы 2–5 дней.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>