<section class="how-to-order mb-3">
    <div class="container-fluid section-container">
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="text-center how-to-order-top__title">Как заказать?</h2>
            </div>
        </div>
        <div class="row how-to-order__fa-list">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="how-to-order__fa-list-item">
                    <div class="how-to-order__fa">
                        <i class="fa fa-address-card"></i>
                    </div>
                    <div class="how-to-order__title">
                        Ваша заявка
                    </div>
                    <div class="how-to-order__desc">
                        Вы оставляете заявку на нашем сайте, заполнив форму заказа
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="how-to-order__fa-list-item">
                    <div class="how-to-order__fa">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="how-to-order__title">
                        Звонок из магазина
                    </div>
                    <div class="how-to-order__desc">
                        Наш менеджер перезвонит Вам, ответит на все вопросы и согласует заказ
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="how-to-order__fa-list-item">
                    <div class="how-to-order__fa">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="how-to-order__title">
                        Доставка
                    </div>
                    <div class="how-to-order__desc">
                        Отправка почтой, доставка 3-7 дней, 500 рублей. <br> Для Москвы курьер 500 рублей или самовывоз.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="how-to-order__fa-list-item">
                    <div class="how-to-order__fa">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="how-to-order__title">
                        Получение заказа и оплата
                    </div>
                    <div class="how-to-order__desc">
                        Вы получаете товар и оплачиваете его при получении
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>