<section class="opportunities mb-3">
    <div class="container-fluid section-container">
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="text-center opportunities-title">Возможности</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-5">
                <div class="opportunities-img">
                    <img src="/dist/img/opportunities/1.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <h5 class="opportunities__list-title">Особенности: </h5>
                <ul class="opportunities__list">
                    <li class="opportunities__list-item">Пункт 1</li>
                    <li class="opportunities__list-item">Пункт 2</li>
                    <li class="opportunities__list-item">Пункт 3</li>
                </ul>
                <h5 class="opportunities__list-title">Особенности 2: </h5>
                <ul class="opportunities__list">
                    <li class="opportunities__list-item">Пункт 1 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123 123</li>
                    <li class="opportunities__list-item">Пункт 2</li>
                    <li class="opportunities__list-item">Пункт 3</li>
                    <li class="opportunities__list-item">Пункт 4</li>
                    <li class="opportunities__list-item">Пункт 5</li>
                    <li class="opportunities__list-item">Пункт 6</li>
                </ul>
            </div>
        </div>
    </div>
</section>