<section class="opportunities-type-right-img">
    <div class="container-fluid section-container">
        <div class="row no-gutters">
            <div class="col-12 col-lg-6">
                <div class="opportunities-type-right-img__desc">
                    <h2>Тестовый заголовок</h2>
                    <p>Текст Текст Текст ТекстТекст ТекстТекст ТекстТекст ТекстТекст ТекстТекст Текст Текст Текст</p>
                    <p>Текст Текст Текст ТекстТекст ТекстТекст ТекстТст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                    <p>Текст Текст Те Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="opportunities-type-right-img__img">
                    <img src="/dist/img/opportunities-type-right-img-1/1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>