<section class="opportunities-type-left-img">
    <div class="container-fluid section-container">
        <div class="row no-gutters">
            <div class="col-12 order-2 col-lg-6 order-lg-1">
                <div class="opportunities-type-left-img__img">
                    <img src="/dist/img/opportunities-type-left-img-2/1.jpg" alt="">
                </div>
            </div>
            <div class="col-12 order-1 col-lg-6 order-lg-2">
                <div class="opportunities-type-left-img__desc">
                    <h2>Тестовый заголовок</h2>
                    <p>Текст Текст Текст ТекстТекст ТекстТекст ТекстТекст ТекстТекст ТекстТекст Текст Текст Текст</p>
                    <p>Текст Текст Текст ТекстТекст ТекстТекст ТекстТекст ТекстТекст ТекстТекст Текст Текст ТекстТекст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                    <p>Текст Текст Текст ТекстТекст ТекстТекст ТекстТекст ТекстТекст ТекстТекст Текст Текст Тект Текст Текст т Текст Текст т Текст Текст т Текст Текст т Текст Текст стТекст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст </p>
                    <div class="opportunities-type-left-img__desc-btn-cnt">
                        <button type="submit" class="btn btn-yellow btn-yellow-sm" data-toggle="modal" data-target="#productFormModal">Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>