<section class="reviews-type-img-text mb-3">
    <div class="container-fluid section-container">
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="text-center reviews-type-img-text-title">Отзывы наших клиентов</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="reviews-type-img-text__card">
                    <div class="reviews-type-img-text__card-img">
                        <img src="/dist/img/reviews-type-img-text/1.jpg" alt="">
                    </div>
                    <div>
                        <h4 class="reviews-type-img-text__card-title">Иванов Иван Иванович</h4>
                        <p class="reviews-type-img-text__card-desc">Test Test Test Test Test Test Test Test T Test Te Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Tests Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Testt Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Testest Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="reviews-type-img-text__card">
                    <div class="reviews-type-img-text__card-img">
                        <img src="/dist/img/reviews-type-img-text/2.jpg" alt="">
                    </div>
                    <div>
                        <h4 class="reviews-type-img-text__card-title">Иванов Иван Иванович</h4>
                        <p class="reviews-type-img-text__card-desc">Test Test Test Test Test Test Test Test Test Tes Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Testt  Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test TestTest T Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Testest Test Test Test Test Test Test Test Test Test Test Test Test Test</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="reviews-type-img-text__card">
                    <div class="reviews-type-img-text__card-img">
                        <img src="/dist/img/reviews-type-img-text/3.jpg" alt="">
                    </div>
                    <div>
                        <h4 class="reviews-type-img-text__card-title">Иванов Иван Иванович</h4>
                        <p class="reviews-type-img-text__card-desc">Test Test Test Test Test Test Test Test Test Tes Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Testt  Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test TestTest T Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Testest Test Test Test Test Test Test Test Test Test Test Test Test Test</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>