<section class="reviews mb-3">
    <div class="container-fluid reviews-container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="text-center reviews-title">Отзывы наших клиентов</h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="slick-slider-reviews">
                    <div class="slick-slider-reviews__item">
                        <img src="/dist/img/reviews/1.jpg" class="slick-slider-reviews__item-img" alt="">
                        <p class="slick-slider-reviews__item-text"> 
                            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
                        </p>
                        <p class="slick-slider-reviews__item-author">Иванов И.И.</p>
                    </div>
                    <div class="slick-slider-reviews__item">
                        <img src="/dist/img/reviews/2.jpg" class="slick-slider-reviews__item-img" alt="">
                        <p class="slick-slider-reviews__item-text"> 
                            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
                        </p>
                        <p class="slick-slider-reviews__item-author">Иванов И.И.</p>
                    </div>
                    <div class="slick-slider-reviews__item">
                        <img src="/dist/img/reviews/3.jpg" class="slick-slider-reviews__item-img" alt="">
                        <p class="slick-slider-reviews__item-text"> 
                            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
                        </p>
                        <p class="slick-slider-reviews__item-author">Иванов И.И.</p>
                    </div>
                    <div class="slick-slider-reviews__item">
                        <img src="/dist/img/reviews/4.jpg" class="slick-slider-reviews__item-img" alt="">
                        <p class="slick-slider-reviews__item-text"> 
                            Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test Test
                        </p>
                        <p class="slick-slider-reviews__item-author">Иванов И.И.</p>
                    </div>
                </div>
                <!--<div class="slick-slider-reviews__arrow"></div>-->
            </div>
        </div>
    </div>
</section>