<section class="reviews-type-img mb-3">
    <div class="container-fluid section-container">
        <div class="row mb-4">
            <div class="col-12">
                <h2 class="text-center reviews-type-img-title">Отзывы наших клиентов</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="reviews-type-img__card">
                    <div class="reviews-type-img__card-img">
                        <img src="/dist/img/reviews-type-img/1.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="reviews-type-img__card">
                    <div class="reviews-type-img__card-img">
                        <img src="/dist/img/reviews-type-img/2.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="reviews-type-img__card">
                    <div class="reviews-type-img__card-img">
                        <img src="/dist/img/reviews-type-img/3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>