<section class="why-us mb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid section-container">
                <div class="row mb-4">
                    <div class="col-12">
                        <h2 class="text-center why-us-top__title">Почему мы?</h2>
                    </div>
                </div>
                <div class="row why-us__fa-list">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="why-us__fa-list-item">
                            <div class="why-us__fa">
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                            <div class="why-us__title">
                                Официальный производитель
                            </div>
                            <div class="why-us__desc">
                                Прямые поставки без наценок реселлеров
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="why-us__fa-list-item">
                            <div class="why-us__fa">
                                <i class="fa fa-handshake-o"></i>
                            </div>
                            <div class="why-us__title">
                                ВОЗВРАТ 14 ДНЕЙ
                            </div>
                            <div class="why-us__desc">
                                Возврат по причине брака в течение 14 дней
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="why-us__fa-list-item">
                            <div class="why-us__fa">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="why-us__title">
                                Отзывы
                            </div>
                            <div class="why-us__desc">
                                Более 2000 довольных клиенток
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="why-us__fa-list-item">
                            <div class="why-us__fa">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="why-us__title">
                                Круглосуточно
                            </div>
                            <div class="why-us__desc">
                                Заявки через сайт принимают круглосуточно и без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>