.callback-form {
    padding: 40px 0;
    background: #181c1f;
    color: #fff;
    box-shadow: 0 -5px 5px -5px #333;

}

.callback-form-container {
    max-width: 550px;
}

.callback-form__order-title1 {
    font-size: 48px;
}

.callback-form__order-title2 {
    font-size: 20px;
}

@media (max-width: 576px) {
    .callback-form__order-title1 {
        font-size: 28px;
    }

    .callback-form__order-title2 {
        font-size: 14px;
    }
}