.callback-form {
    padding: 40px 0;
    background: #181c1f;
    color: #fff;
    box-shadow: 0 -5px 5px -5px #333;

}

.callback-form-container {
    max-width: 550px;
}

.callback-form__order-title1 {
    font-size: 48px;
}