.certificates-img-responsive img {
    display: block;
    width: 100%;
    text-align: center;
}

.certificates-container {
    max-width: 800px;
}

@media (max-width: 576px) {
    .certificates-title {
        font-size: 22px;
    }
}