.faq-list__item {
    background-color: #fff;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 15px 20px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 25px 24.15px 10.85px rgba(22,20,89,.07);
}

.faq-list__item-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 46px;
    position: relative;
    padding-right: 50px;
}

.faq-list__item-title {
    font-size: 24px;
    margin-bottom: 0px;
}

.faq-list__item-body {
    display: none;
}

.faq-list__item-answer {
    margin-top: 5px;
}

.faq-list__item-arrow {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    display: block;
    position: absolute;
    top: 50%;
    font-size: 32px;
    margin-top: -15px;
    right: 0;
    transition: .3s;
    
    &.openned {
        transform: rotate(-180deg);
    }
}

@media (max-width: 576px) {
    .faq-list__item-title {
        font-size: 20px;
    }

    .faq-title {
        font-size: 26px;
    }
}