.how-to-order {
    box-shadow: 0 -5px 5px -5px #333, 0 5px 5px -5px #333;
    padding: 20px 0;
}

.how-to-order__fa-list {
    text-align: center;
}

.how-to-order__fa-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-to-order__fa {
    font-size: 40px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid #eee;
    line-height: 100px;
}

.how-to-order__title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

@media (max-width: 992px) {
    .how-to-order__fa-list-item {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    .how-to-order-top__title {
        font-size: 28px;
    }
}