.reviews {
    box-shadow: 0 -5px 5px -5px #333, 0 5px 5px -5px #333;
    padding: 20px 0;
}

.reviews-container {
    max-width: 1150px;
}

.slick-slider-reviews {
    padding: 10px 0;
    margin: auto;
}

.reviews .slick-arrow:before {
    color:gray;
}

.reviews .slick-next {
    right: 10px;
    z-index: 5;
}

.reviews .slick-prev {
    left: 10px;
    z-index: 5;
}

/*.reviews .slick-prev:before,
.reviews .slick-next:before {
    display: none;
}*/

/*.reviews .slick-prev,
.reviews .slick-next {
    width: 50px;
    height: 50px;
    z-index: 5;
}*/

/*.reviews .slick-prev, .reviews .slick-prev:hover,.reviews .slick-prev:focus {
    left: 10px;
    background: url(/../../libs/slick/back.svg);
}

.reviews .slick-next, .reviews .slick-next:hover,.reviews .slick-next:focus {
    right: 10px;
    background: url(/../../libs/slick/next.svg);
}*/

.slick-slider-reviews__item {
    padding: 0 30px;
    outline: none;
}

.slick-slider-reviews__item-img {
    display: block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.slick-slider-reviews__item-author {
    text-align: center;
    line-height: 60px;
    background: url(../img/reviews__stars.png) no-repeat;
    background-position: 50% 100%;

}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 576px) {

    .reviews-title {
        font-size: 26px;
    }
}